[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
click = "*"

[dev-packages]

[scripts]
start = "python ./Juego/juego.py juego"
creador = "python ./Juego/creadorpj.py creador"
combate= "python Juego/combate.py"

[requires]
python_version = "3.10"
